name: workflow.yml
on:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Enable debug mode'
        required: false
        type: boolean
        default: false
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Build
        run: go build ./...

      - name: Test
        run: go test -v ./...
        env:
          OANDA_API_KEY_DEMO: ${{ secrets.OANDA_API_KEY_DEMO }}
          OANDA_ACCOUNT_ID_DEMO: ${{ secret.OANDA_ACCOUNT_ID_DEMO }}

      - name: Vet
        run: go vet ./...
